<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NoteBrain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NoteBrainShareExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A3068D262E07D2D700F9FA33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B7C32A2E0303A7003E2198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B7C33E2E0303A9003E2198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B7C3482E0303A9003E2198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
